.edit-entry {
    background: #e5422b;
    bottom: 0;
    border-top-right-radius: 5px;
    color: #fff;
    font-size: 14px;
    left: 0;
    line-height: 1;
    padding: 10px;
    position: fixed;
    text-decoration: none;
    z-index: 10;
}